<h2>Payment list</h2>
<p><a routerLink="/payment-create">Create new a payment</a></p>


<div class="container">
  <input type="text" [formControl]="search" placeholder="search">
</div>

<table class="table table-hover border">
  <thead>
  <tr>
    <th>Tên KH</th>
    <th>Mã đơn hàng</th>
    <th>Điện thoại</th>
    <th>Total</th>
    <th>Description</th>
    <th>Status</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tr *ngFor="let payment of paymentList">
    <td><a [routerLink]="['/payment-detail', payment.id]">{{ payment.name }}</a></td>
    <td>{{ payment.code }}</td>
    <td>{{ payment.phone }}</td>
    <td>{{ payment.total | currency:'VND'}}</td>
    <td>{{ payment.description }}</td>
    <!--    <td *ngFor="let stt of status | filterByStatus: search.value" >{{ payment.status }}</td>-->
    <td><span>{{ payment.status }}</span></td>
    <td><a [routerLink]="['/payment-edit',payment.id]">Edit</a></td>
    <td><a [routerLink]="['/payment-delete',payment.id]">Delete</a></td>
  </tr>
</table>

