<h2>Danh sách thanh toán</h2>
<form>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">
        <i class="glyphicon glyphicon-search"></i>
      </div>
      <input
        type="text"
        class="form-control"
        name="searchString"
        placeholder="Tìm kiếm theo trạng thái đơn hàng..."
        [(ngModel)]="searchString"
      />
    </div>
  </div>
</form>


<table class="table table-hover border">
  <thead>
  <tr>
    <th>Tên KH</th>
    <th>Mã đơn hàng</th>
    <th>Điện thoại</th>
    <th>Total</th>
    <th>Description</th>
    <th>Status</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tr *ngFor="let payment of paymentList | filter: 'status' : searchString">
    <td><a [routerLink]="['/payment-detail', payment.id]">{{ payment.name }}</a></td>
    <td>{{ payment.code }}</td>
    <td>{{ payment.phone }}</td>
    <td>{{ payment.total | currency:'VND'}}</td>
    <td>{{ payment.description }}</td>
    <td>{{ payment.status }}</td>
    <td *ngIf="payment.status !== 'Giao hàng thành công' &&  payment.status !== 'Hủy đơn hàng'"><a
      [routerLink]="['/payment-edit',payment.id]">Cập nhật</a></td>
    <td *ngIf="payment.status == 'Giao hàng thành công'"><a class="text-success">Đơn hàng đã được giao</a></td>
    <td *ngIf="payment.status == 'Hủy đơn hàng'"><a class="text-danger">Đã hủy đơn hàng</a></td>
    <td><a [routerLink]="['/payment-delete',payment.id]">Xóa</a></td>
  </tr>
</table>




