<div class="container">
  <div class="row text-center">
    <hr style="margin-right: 5px">
    <h3>Coffee Little Bean</h3>
    <hr style="margin-left: 5px">
  </div>
  <div class="container-fluid padding">
    <div class="row padding">
      <div class="col-md-12 col-auto">
        <div class="m-3 " align="center">
          <img src="../../assets/images/company.jpg" class="main1" style="width: 100%; height: 400px">
        </div>
        <div class="row text-center">
          <hr style="margin-right: 5px">
          <h3>Chung tay vì môi trường</h3>
          <hr style="margin-left: 5px">
        </div>
        <p class="text-center" style="color : darkolivegreen ; font-size: 25px; font-family: Tahoma">For Green Evironment</p>
        <p class="text-center">Bảo vệ môi trường đã không còn là việc của một chính phủ, tổ chức, doanh nghiệp mà nó
        đã thành vấn để chung của tất cả mọi người. Hiệu ứng nhà kính, sự nóng lên toàn cầu của thế giới đang mang
        đến những tác hại khủng khiếp cho con người. </p>
        <p class="text-center">Để chung tay góp sức vào vấn đề đó, tất cả cốc và ống hút của quán đều được làm từ giấy tái chế </p>
        <p class="text-center">Các máy tính của quán đều được cài công cụ tìm kiếm Ecosia</p>
        <p class="text-center">5% lợi nhuận của cửa hàng sẽ được dùng để trồng thêm cây xanh</p>
        <div class="row text-center">
          <hr style="margin-right: 5px">
          <h3>Vị trí thuận tiện</h3>
          <hr style="margin-left: 5px">
        </div>
        <p class="text-center" style="color : darkolivegreen ; font-size: 25px; font-family: Tahoma">"In position"</p>
        <p class="text-center">Với những người mê phim hành động, câu nói "In position" luôn là cụm từ quen thuộc. Quán cafe của chúng tôi nằm giữa hàm cá mập ( Hồ Gươm ) là một nơi để mọi người đều có thể đến chia sẻ các câu chuyện vui buồn trong cuộc sống đầy hối hả</p>
        <div class="row text-center">
          <hr style="margin-right: 5px">
          <h3>Lợi nhuận không là tất cả</h3>
          <hr style="margin-left: 5px">
        </div>
        <p class="text-center" style="color : darkolivegreen ; font-size: 25px; font-family: Tahoma">Make Free</p>
        <p class="text-center">Vào 20h đến 20h30 các ngày chẵn trong tuần quán cafe của chúng tôi đều có các trò chơi nhỏ và phần thưởng là những cốc đồ uống thơm ngon do chính tay giám đốc pha chế </p>
        <p class="text-center">Ngoài ra các nếu bạn là sinh viên không dư giả về kinh tế thì chúng tôi luôn có các voucher nhỏ vào những ngày chủ nhật cuối tuần</p>
        <div class="row text-center">
          <hr style="margin-right: 5px">
          <h3>Little Bean là một gia đình</h3>
          <hr style="margin-left: 5px">
        </div>
        <p class="text-center" style="color : darkolivegreen ; font-size: 25px; font-family: Tahoma">When You Come, You Are Family</p>
        <p class="text-center">Tình cảm gia đình luôn là thứ chúng ta cần trong cuộc sống, chúng tôi hiểu như vậy. Sinh viên từ tỉnh khác, những người làm công ăn lương không cùng quê quán, doanh nhân thành đạt nhưng không dành được nhiều thời gian cho tổ ấm.Vậy thứ họ cần là gì? Một nơi ấm cúng, có tình cảm mến thương từ những người xa lạ không quen biết. Hãy đến với Little Bean chúng tôi.  </p>
        <p class="text-center">Không cần biết giá trị đơn hàng mỗi người đến sẽ nhận được một thẻ thành viên của chúng tôi. Thẻ có giá trị trong tất cả các chi nhánh của Little Bean trên toàn quốc</p>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <hr style="margin-right: 5px">
    <h3>Team Development</h3>
    <hr style="margin-left: 5px">
  </div>
  <div class="container-fluid padding">
    <div class="row padding">
      <div class="col-md-12 col-auto">
        <div class="row">
          <div class="col-sm-5">
            <div class="m-3" align="center">
              <img src="../../assets/images/CEO_Bao.jpg" class="main1">
            </div>
          </div>
          <div class="col-sm-7">
            <h3>Người sáng lập thương hiệu coffee little bean</h3>
            <label>Name:</label>
            <p>Nguyễn Khắc Gia Bảo</p>
            <label>Description:</label>
            <p>Nắm bắt nhu cầu thị trường và mong muốn đem lại cho khách hàng sự trải nghiệm trong phục vụ ăn uống thời đại 4.0</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="container-fluid padding">
    <div class="row padding">
      <div class="col-md-12 col-auto">
        <div class="row">
          <div class="col-sm-5">
            <div class="m-3" align="center">
              <img src="../../assets/images/Duc.jpg" class="main1">
            </div>
          </div>
          <div class="col-sm-7">
            <h3>Quản lý</h3>
            <label>Name:</label>
            <p>Nguyễn Minh Đức</p>
            <label>Description:</label>
            <p>Mang lại chất lượng phục vụ và sản phẩm tốt nhất đến người tiêu dùng</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="container-fluid padding">
    <div class="row padding">
      <div class="col-md-12 col-auto">
        <div class="row">
          <div class="col-sm-5">
            <div class="m-3" align="center">
              <img src="../../assets/images/Dev_Thanh.jpg" class="main1">
            </div>
          </div>
          <div class="col-sm-7">
            <h3>Nhân viên tạp vụ</h3>
            <label>Name:</label>
            <p>Thành Béo</p>
            <label>Description:</label>
            <p>Dọn vệ sinh và nhiệt tình với công việc </p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="container-fluid padding">
    <div class="row padding">
      <div class="col-md-12 col-auto">
        <div class="row">
          <div class="col-sm-5">
            <div class="m-3" align="center">
              <img src="../../assets/images/bach.jpg" class="main1">
            </div>
          </div>
          <div class="col-sm-7">
            <h3>Nhân viên phục vụ bàn</h3>
            <label>Name:</label>
            <p>Tạ Trần Bách</p>
            <label>Description:</label>
            <p>người mới</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

