<div class="container">
  <div class="row text-center">
    <hr style="margin-right: 5px">
    <h3>Coffee Little Bean</h3>
    <hr style="margin-left: 5px">
  </div>
  <div class="container-fluid padding">
    <div class="row padding">
      <div class="col-md-12 col-auto">
        <div class="m-3 " align="center"><img src="../../../../assets/images/quáncaffe.jpg" height="500" width="90%"/>
        </div>
        <div class="row text-center">
          <hr style="margin-right: 5px">
          <h3>Chung tay vì môi trường</h3>
          <hr style="margin-left: 5px">
        </div>
        <p class="text-center" style="color : darkolivegreen ; font-size: 25px; font-family: Tahoma">For Green
          Evironment</p>         <img src="../../../../assets/images/ly giấy 2.jpg" height="550" width="80%"/>
        <p class="text-center">Bảo vệ môi trường đã không còn là việc của một chính phủ, tổ chức, doanh nghiệp mà nó đã
          thành vấn để chung của tất cả mọi người. Hiệu ứng nhà kính, sự nóng lên toàn cầu của thế giới đang mang đến
          những tác hại khủng khiếp cho con người. </p>
        <p class="text-center">Để chung tay góp sức vào vấn đề đó, tất cả cốc và ống hút của quán đều được làm từ giấy
          tái chế </p>
        <p class="text-center">Các máy tính của quán đều được cài công cụ tìm kiếm Ecosia</p>
        <p class="text-center">5% lợi nhuận của cửa hàng sẽ được dùng để trồng thêm cây xanh</p>
        <div class="row text-center">
          <hr style="margin-right: 5px">
          <h3>Vị trí thuận tiện</h3>
          <hr style="margin-left: 5px">
        </div>
        <p class="text-center" style="color : darkolivegreen ; font-size: 25px; font-family: Tahoma">"In position"</p>
        <div>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.014443034329!2d105.84963571380685!3d21.03210809304243!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135abbf8d7a88ab%3A0x3f551185a0718fdf!2zQVRNIFRlY2hjb21iYW5rIFRvw6AgTmjDoCBIw6BtIEPDoSBN4bqtcA!5e0!3m2!1svi!2s!4v1580465305794!5m2!1svi!2s"
            width="600" height="400"></iframe>
          <img src="../../../../assets/images/hàm mập.PNG" height="400" width="446" style="float: left"/></div>
        <p class="text-center">Với những người mê phim hành động, câu nói "In position" luôn là cụm từ quen thuộc. Quán
          cafe của chúng tôi nằm giữa hàm cá mập ( Hồ Gươm ) là một nơi để mọi người đều có thể đến chia sẻ các câu
          chuyện vui buồn trong cuộc sống đầy hối hả</p>
        <div class="row text-center">
          <hr style="margin-right: 5px">
          <h3>Lợi nhuận không là tất cả</h3>
          <hr style="margin-left: 5px">
        </div>
        <p class="text-center" style="color : darkolivegreen ; font-size: 25px; font-family: Tahoma">Make Free</p>
        <div class="m-3 " align="center"><img src="../../../../assets/images/voucher 2.jpg" height="700" width="640"/>
        </div>
        <p class="text-center">Vào 20h đến 20h30 các ngày chẵn trong tuần quán cafe của chúng tôi đều có các trò chơi
          nhỏ và phần thưởng là những cốc đồ uống thơm ngon do chính tay giám đốc pha chế </p>
        <p class="text-center">Ngoài ra các nếu bạn là sinh viên không dư giả về kinh tế thì chúng tôi luôn có các
          voucher nhỏ vào những ngày chủ nhật cuối tuần</p>
        <div class="row text-center">
          <hr style="margin-right: 5px">
          <h3>Little Bean là một gia đình</h3>
          <hr style="margin-left: 5px">
        </div>
        <p class="text-center" style="color : darkolivegreen ; font-size: 25px; font-family: Tahoma">When You Come, You
          Are Family</p>
        <div class="m-3 " align="center"><img src="../../../../assets/images/thẻ thành viên.jpg" height="482"
                                              width="898"/></div>
        <p class="text-center">Tình cảm gia đình luôn là thứ chúng ta cần trong cuộc sống, chúng tôi hiểu như vậy. Sinh
          viên từ tỉnh khác, những người làm công ăn lương không cùng quê quán, doanh nhân thành đạt nhưng không dành
          được nhiều thời gian cho tổ ấm.Vậy thứ họ cần là gì? Một nơi ấm cúng, có tình cảm mến thương từ những người xa
          lạ không quen biết. Hãy đến với Little Bean chúng tôi. </p>
        <p class="text-center">Không cần biết giá trị đơn hàng mỗi người đến sẽ nhận được một thẻ thành viên của chúng
          tôi. Thẻ có giá trị trong tất cả các chi nhánh của Little Bean trên toàn quốc</p></div>


    </div>
  </div>
  <div class="row text-center">
    <hr style="margin-right: 5px">
    <h3>Nhân Sự Thường Trực</h3>
    <hr style="margin-left: 5px">
  </div>
  <div class="container-fluid padding">
    <div class="row padding">
      <div class="col-md-12 col-auto">
        <div class="row">
          <div class="col-sm-5">
            <div class="m-3" align="center"><img src="../../assets/images/CEO_Bao.jpg" class="main1"></div>
          </div>
          <div class="col-sm-7"><h3>Người sáng lập thương hiệu Coffee Little Bean</h3>            <h5>
            <label>Name:</label></h5>
            <p>Nguyễn Khắc Gia Bảo</p>             <h5><label>Description:</label></h5>
            <p>Làm vì đam mê kinh tế chỉ là phụ </p></div>
        </div>
      </div>

    </div>
  </div>
  <div class="container-fluid padding">
    <div class="row padding">
      <div class="col-md-12 col-auto">
        <div class="row">
          <div class="col-sm-5">
            <div class="m-3" align="center"><img src="../../assets/images/Duc.jpg" class="main1"></div>
          </div>
          <div class="col-sm-7"><h3>Quản lý</h3>             <h5><label>Name:</label></h5>
            <p>Nguyễn Minh Đức</p>             <h5><label>Description:</label></h5>
            <p>Mang lại chất lượng phục vụ và sản phẩm tốt nhất Vịnh Bắc Bộ</p></div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid padding">
    <div class="row padding">
      <div class="col-md-12 col-auto">
        <div class="row">
          <div class="col-sm-5">
            <div class="m-3" align="center"><img src="../../assets/images/Dev_Thanh.jpg" class="main1"></div>
          </div>
          <div class="col-sm-7"><h3>Nhân viên tạp vụ</h3>            <h5><label>Name:</label></h5>
            <p>Thành Lê</p>             <h5><label>Description:</label></h5>
            <p>Dọn vệ sinh và nhiệt tình với công việc </p></div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid padding">
    <div class="row padding">
      <div class="col-md-12 col-auto">
        <div class="row">
          <div class="col-sm-5">
            <div class="m-3" align="center"><img src="../../assets/images/bach.jpg" class="main1"></div>
          </div>
          <div class="col-sm-7"><h3>Nhân viên phục vụ bàn</h3>             <h5><label>Name:</label></h5>
            <p>Tạ Trần Bách</p>             <h5><label>Description:</label></h5>
            <p>Lau bàn sạch nhất thế giới </p></div>
        </div>
      </div>
    </div>
  </div>
</div>  
