<div class="container">
  <div class="row text-center">
    <hr style="margin-right: 5px">
    <h3>Company</h3>
    <hr style="margin-left: 5px">
  </div>
  <div class="container-fluid padding">
    <div class="row padding">
      <div class="col-md-12 col-auto">
        <div class="m-3 " align="center">
          <img src="../../assets/images/company.jpg" class="main1" style="width: 100%; height: 400px">
        </div>
        <p class="text-center">Chúng tôi là chuyên gia về công nghệ, cung cấp các giải pháp thông minh giải quyết các thách thức kinh doanh và tạo ra giá trị.
          Các nhóm đoạt giải thưởng của chúng tôi áp dụng chuyên môn sâu và niềm đam mê để cung cấp các dự án CNTT phức tạp trên toàn cầu.</p>
        <p class="text-center">Từ năm 2017 CodeGym đã cung cấp phát triển phần mềm, dịch vụ website, dịch vụ được quản lý</p>
        <p class="text-center">Điều này cho phép chúng tôi đi đến nơi khách hàng của chúng tôi đi,
          đảm bảo họ có các dịch vụ công nghệ họ cần để hỗ trợ tăng trưởng kinh doanh chiến lược.
          Cho dù bạn đang tìm cách tăng năng lực của nhóm công nghệ hiện tại hoặc muốn thuê ngoài
          một dự án cho một đối tác chuyên biệt, CodeGym có một mô hình phù hợp với nhu cầu kinh doanh cụ thể của bạn.</p>

      </div>
    </div>
  </div>
  <div class="row text-center">
    <hr style="margin-right: 5px">
    <h3>Team Development</h3>
    <hr style="margin-left: 5px">
  </div>
  <div class="container-fluid padding">
    <div class="row padding">
      <div class="col-md-12 col-auto">
        <div class="row">
          <div class="col-sm-5">
            <div class="m-3" align="center">
              <img src="../../assets/images/CEO_Bao.jpg" class="main1">
            </div>
          </div>
          <div class="col-sm-7">
            <h3>Manager</h3>
            <label>Name:</label>
            <p>Nguyễn Khắc Gia Bảo</p>
            <label>Description:</label>
            <p>adasdsadasdasdasdsadasdsadasdasasaddsaaddsagisaddsasa</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="container-fluid padding">
    <div class="row padding">
      <div class="col-md-12 col-auto">
        <div class="row">
          <div class="col-sm-5">
            <div class="m-3" align="center">
              <img src="../../assets/images/Duc.jpg" class="main1">
            </div>
          </div>
          <div class="col-sm-7">
            <h3>Development Team</h3>
            <label>Name:</label>
            <p>Nguyễn Minh Đức</p>
            <label>Description:</label>
            <p>sadasdasdsaddsaadssadsadasdsadsadsadsadasdasdsdadsa</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="container-fluid padding">
    <div class="row padding">
      <div class="col-md-12 col-auto">
        <div class="row">
          <div class="col-sm-5">
            <div class="m-3" align="center">
              <img src="../../assets/images/Dev_Thanh.jpg" class="main1">
            </div>
          </div>
          <div class="col-sm-7">
            <h3>Development Team</h3>
            <label>Name:</label>
            <p>Thành Béo</p>
            <label>Description:</label>
            <p>sadasdasdsad</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="container-fluid padding">
    <div class="row padding">
      <div class="col-md-12 col-auto">
        <div class="row">
          <div class="col-sm-5">
            <div class="m-3" align="center">
              <img src="../../assets/images/bach.jpg" class="main1">
            </div>
          </div>
          <div class="col-sm-7">
            <h3>Development Team</h3>
            <label>Name:</label>
            <p>Tạ Trần Bách</p>
            <label>Description:</label>
            <p>sadasdasdsaddsaddsadsaasđsấdádsadsaddasdsadadasdasd</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

