<div class="container-fluid"
     style="background: url('https://img.anhdep24.net/images/2017/12/06/0590773cd1a7ce2104c08de511686b45.jpg')">
  <h2 *ngIf="categories" class="text-warning text-center mt-4 mb-4">Danh mục sản phẩm: {{categories.name}}</h2>
  <div class="row">
    <div class="col-md-3 mb-5" *ngFor="let product of productListByCategory, index as i">
      <div class="card" *ngIf="i<48">
        <img class="card-img-top" routerLink="/product-detail/{{product.id}}"
             [src]="product.image"
             alt="Card image cap" style="height: 360px">
        <div class="card-body">
          <h5 class="card-title text-center text-danger">{{product.name}}</h5>
          <p class="card-text text-center text-info">{{product.price | currency: 'VND': true}}</p>
          <p>
            <button type="button"
                    class="btn btn-outline-primary"
                    data-target="#addToCart"
                    data-toggle="modal"
                    (click)="addProductToCart(product, 1)">Thêm vào giỏ
            </button>
            <button type="button"
                    class="btn btn-outline-danger ml-3" style="width: 70px"
                    *ngIf="productInCart(product) | async"
                    (click)="removeProductFromCart(product, 1)">Xóa
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="modal fade" id="addToCart">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Thêm sản phẩm thành công</h4>
          <button class="close" data-dismiss="modal" type="button">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          Bạn đã thêm sản phẩm vào trong giỏ hàng thành công
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button class="btn btn-secondary" data-dismiss="modal" type="button">Quay lại</button>
        </div>

      </div>
    </div>
  </div>
</div>


