<div class="col-8 offset-2" *ngIf="currentUser; else loggedOut">
  <header class="jumbotron">
    <h3>
     Thông tin cá nhân
    </h3>
  </header>
  <img id="profile-img"
       src="https://previews.123rf.com/images/solargaria/solargaria1709/solargaria170900008/85425363-user-icon-male-with-beard-icon-hipster-flat-icon-avatar-of-man-with-beard-flat-internet-icon-in-roun.jpg"
       class="profile-img-card" style="height: 300px"/>
  <table class="table">
    <tr>
      <td><strong>Name:</strong></td>
      <td>{{currentUser.username}}</td>
    </tr>
    <tr>
      <td><strong>Email:</strong></td>
      <td>{{currentUser.email}}</td>
    </tr>
    <tr>
      <td><strong>Address:</strong></td>
      <td>{{currentUser.address}}</td>
    </tr>
    <tr>
      <td><strong>Phone:</strong></td>
      <td>{{currentUser.phone}}</td>
    </tr>
  </table>
  <button class="btn btn-primary btn-block" routerLink="/payment-list-by-user">Đơn hàng của bạn</button>
  <button class="btn btn-primary btn-block" routerLink="/change-profile">Cập nhật thông tin</button>
  <button class="btn btn-primary btn-block" routerLink="/change-password">Đổi mật khẩu</button>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>
