<div class="container-fluid padding">
  <div class="row padding">
    <div class="col-md-12 col-auto">
      <div class="row">
        <div class="col-sm-5">
          <div class="m-3" align="center">
            <img src="../../assets/images/logo1.png" class="main1">
          </div>
        </div>
        <div class="col-sm-7">
          <h3>Something product</h3>
          <label>Name:</label>
          <p>asdsadasddasas</p>
          <label>Description:</label>
          <p>dsadasdasdsadsadasdsaddasdsadasdasdsadsadsaasd<a href="#view_more">Xem thêm</a></p>
          <div id="view_more">
            <p>áddasdsasdadsasdasadsdasdasdsadsdasdaasdsad</p>
            <p>áddasdsasdadsasdasadsdasdasdsadsdasdaasdsad</p>
            <p>áddasdsasdadsasdasadsdasdasdsadsdasdaasdsad</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
