<div class="container-fluid padding">
  <div class="row padding">
    <div class="col-md-12 col-auto">
      <div class="row">
        <div class="col-sm-5">
          <div class="m-3" align="center"><img src="../../../../assets/images/tra-xanh.jpg" class="main1"/>
          </div>
        </div>
        <div class="col-sm-7">
          <h3>BIẾT TẬN HƯỞNG, UỐNG FREEZE TRÀ XANH!</h3>
          <div class="more">Một ly Freeze Trà Xanh lý tưởng để bạn tạm gạt bỏ những bộn bề của cuộc sống, và hoà mình vào vị đậm đà của trà xanh kết hợp cùng thạch giòn ngon khó cưỡng, sẵn sàng để tận hưởng hết mình.
            <p>Giới trẻ với cuộc sống ngày càng bận rộn, những deadline ngập đầu hay những bận tâm chưa được giải quyết. Sẽ có những buổi chiều ta cảm thấy mệt mỏi và cần tìm kiếm một “lối đi” để tạm gạt những bộn bề còn vương vấn trong lòng, cho tâm trí được thanh thản, thư giãn.</p>
            <p>Vậy tại sao  không tạm thời dừng hết những gì bạn đang làm và cho phép bản thân mình được nghỉ ngơi một chút  với một ly Freeze Trà Xanh. Kết hợp giữa Trà Xanh Đậm Đà cùng Thạch Giòn Khó Cưỡng, Freeze Trà Xanh chính là thức uống hoàn hảo cho một buổi chiều quên đi những mệt mỏi và tận hưởng cuộc sống.</p>
            <p>Freeze Trà Xanh là sự kết hợp hoàn hảo giữa vị Trà Xanh Đậm Đà được tạo nên từ những lá trà thượng hạng trên cao nguyên Việt Nam, cùng Thạch Giòn Ngon Khó Cưỡng từ Little Bean Coffee. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid padding">
  <div class="row padding">
    <div class="col-md-12 col-auto">
      <div class="row">
        <div class="col-sm-5">
          <div class="m-3" align="center"><img src="../../../../assets/images/dong-nghiep.png" class="main1"/>
          </div>
        </div>
        <div class="col-sm-7">
          <h3>LITTLE BEAN COFFEE: 5 NĂM – GẮN KẾT NIỀM TỰ HÀO ĐẤT VIỆT</h3>
          <div class="more">Đánh dấu hành trình 20 năm gắn kết, Little Bean Coffee mong muốn gửi lời cảm ơn chân thành đến các đối tác, các bạn nhân viên và những khách hàng thân thiết đã đồng hành cùng với Little Bean Coffee trong suốt 20 năm qua, cùng Little Bean Coffee tiếp tục lan tỏa niềm tự hào đối với những giá trị Việt.
            Little Bean Coffee – Điểm nhấn không thể thiếu của nhiều thế hệ người Việt
            Năm 1999, Little Bean Coffee chính thức được thành lập, với tầm nhìn trở thành thương hiệu cà phê và trà được yêu thích nhất tại Việt Nam và tự hào chia sẻ với thế giới. Tính đến tháng 8/2019, Little Bean Coffee là chuỗi cà phê có số lượng quán lớn nhất tại Việt Nam với hơn 300 quán trải dài trên khắp 24 tỉnh thành. Không ngừng đặt chân đến những vùng đất mới trên khắp cả nước, Little Bean Coffee còn mang những giá trị Việt đến thế giới với chuỗi 50 quán cà phê trên thế giới.
            <p>Đến nay, bên cạnh những cột mốc ấn tượng, chúng tôi tự hào khi đã trở thành một điểm nhấn không thể thiếu trong cuộc sống của nhiều thế hệ người Việt, trong không gian quán hiện đại nhưng quen thuộc và hơn thế nữa là những giây phút cùng bạn bè sẻ chia “trăm chuyện đậm đà”.</p>
            <h5>Và hành trình 20 năm sẽ không dừng lại.</h5>
            <p>“Sự thành công của Little Bean Coffee trong mỗi bước đi trên hành trình 20 năm qua đều in đậm dấu ấn của sự cổ vũ, gắn kết chặt chẽ từ các đối tác, đội ngũ nhân viên cho đến mỗi khách hàng. Chúng tôi hi vọng sẽ tiếp tục nhận được ủng hộ từ các khách hàng thân thiết trong suốt 20 năm qua vì sự ủng hộ của họ sẽ góp phần tạo nên thương hiệu Little Bean Coffee ngày càng hoàn thiện hơn trong hành trình nâng tầm những giá trị Việt”. (Gia Bảo  – Người sáng lập kiêm Giám Đốc Điều Hành Little Bean Coffee).</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid padding">
  <div class="row padding">
    <div class="col-md-12 col-auto">
      <div class="row">
        <div class="col-sm-5">
          <div class="m-3" align="center"><img src="../../../../assets/images/cafekm.jpeg" class="main1"/>
          </div>
        </div>
        <div class="col-sm-7">
          <h3>PHIN SỮA ĐÁ, VỊ ĐẬM ĐÀ CHO NGÀY MỚI ĐẬM CHẤT</h3>
          <div class="more">Phin Sữa Đá cho mỗi sáng là cách tuyệt hay để bạn bắt đầu ngày mới với tinh thần thật tỉnh táo và minh mẫn, bất chấp những vòng lặp nhàm chán hay “giông tố” bất ngờ. Để tiếp thêm năng lượng cho bạn sống đậm chất; thể hiện chính mình và không ngừng cố gắng hết sức để đạt được mục tiêu bản thân.
            <h5>Phin Sữa Đá cho mỗi sáng là cách tuyệt hay để bạn bắt đầu ngày mới với tinh thần thật tỉnh táo và minh mẫn, bất chấp những vòng lặp nhàm chán hay “giông tố” bất ngờ. Để tiếp thêm năng lượng cho bạn sống đậm chất; thể hiện chính mình và không ngừng cố gắng hết sức để đạt được mục tiêu bản thân.</h5>
            <p>Việc lấy đà cho mỗi sớm đầu ngày rất quan trọng vì điều ấy sẽ quyết định ngày hôm đó của bạn “nở hoa hay bế tắc”. Mà cuộc sống thì ai cũng như ai với những bộn bề lo toan, đã dần rút hết động lực, khiến bạn đôi khi “mất lửa”, cảm thấy đời thật nhạt và mình thật chán. Vậy làm sao để sống thật đậm chất mỗi ngày khi mình thật nhạt màu?!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
