<div class="container-fluid padding">
  <div class="row padding">
    <div class="col-md-12 col-auto">
      <div class="row">
        <div class="col-sm-5">
          <div class="m-3" align="center">
            <img src="../../assets/images/blog1.PNG" class="main1">
          </div>
        </div>
        <div class="col-sm-7">
          <h3>Cùng Nhà mang "Tết" về nhà</h3>
          <div class="more">1 năm bận rộn, khiến bạn "bỏ lỡ" sự quan tâm, gắn kết hay là những cuộc gặp gỡ yêu thương chân thành. Tết này hãy để Nhà khơi lại những câu chuyện ấy cho bạn, qua những món quà đặc biệt của Nhà nhé:

            <p>Túi vải travel đựng cả thế giới cho mẹ.</p>
            <p>Cà phê gói thơm lừng, đậm đà cho ba.</p>
            <p>Hay là những “người bạn xanh” - bình giữ nhiệt, ly sứ, quai vải, ống hút inox) cho nguyên cả nhà cùng nhau yêu môi trường.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
