<h2>Đơn hàng của bạn</h2>
<form>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">
        <i class="glyphicon glyphicon-search"></i>
      </div>
      <input
        type="text"
        class="form-control"
        name="searchString"
        placeholder="Tìm kiếm theo trạng thái đơn hàng..."
        [(ngModel)]="searchString"
      />
    </div>
  </div>
</form>


<table class="table table-hover border">
  <thead>
  <tr>
    <th>Mã đơn hàng</th>
    <th>Điện thoại</th>
    <th>Tổng hóa đơn</th>
    <th>Mô tả</th>
    <th>Trạng thái</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tr *ngFor="let payment of paymentList | filter: 'status' : searchString">
    <td>{{ payment.code }}</td>
    <td>{{ payment.phone }}</td>
    <td>{{ payment.total | currency:'VND'}}</td>
    <td>{{ payment.description }}</td>
    <td>{{ payment.status }}</td>
    <td><a [routerLink]="['/payment-edit',payment.id]">Edit</a></td>
    <td><a [routerLink]="['/payment-delete',payment.id]">Delete</a></td>
  </tr>
</table>




