<div class="col-6 offset-3">
  <h3 class="text-center">Tạo mới người dùng</h3>
  <div *ngIf="message">
    <div class="alert alert-success">
      <strong>Success!</strong> You have created a new user
    </div>
    <div>
      <div class="form-group">
        <input class="btn btn-primary btn-block" value="Create new user" (click)="message = !message">
      </div>
      <div class="form-group">
        <input class="btn btn-primary btn-block" value="Back to user list" routerLink="/user-list">
      </div>
    </div>
  </div>
  <form
    *ngIf="!message"
    name="form"
    [formGroup]="userForm"
    (ngSubmit)="userForm.valid && onSubmit()"
    novalidate>
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" formControlName="username"/>
      <div class="alert-danger" *ngIf="userForm.get('username').invalid && userForm.get('username').touched" style="color: aqua">
        Tối thieer 3 ký tự
      </div>
    </div>

    <div class="form-group">
      <label>Điện thoại</label>
      <input type="text" class="form-control" formControlName="phone"/>
      <div class="alert-danger" *ngIf="userForm.get('phone').invalid && userForm.get('phone').touched" style="color: aqua">
        Không đúng định dạng số điện thoại
      </div>
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" formControlName="email"/>
      <div class="alert-danger" *ngIf="userForm.get('email').invalid && userForm.get('email').touched" style="color: aqua">
        Không đúng định dạng email
      </div>
    </div>

    <div class="form-group">
      <label>Địa chỉ</label>
      <input type="text" class="form-control" formControlName="address"/>
      <div class="alert-danger" *ngIf="userForm.get('address').invalid && userForm.get('address').touched" style="color: aqua">
        Không được để trống
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block">Tạo mới</button>
    </div>
    <div class="form-group">
      <input class="btn btn-primary btn-block" routerLink="/user-list" value="Quay lại">
    </div>
  </form>
</div>
