<div *ngIf="!isLoggedIn">
  <div class="container-fluid" style="background: rgba(255,242,229,0.68)">
    <div class="container border" style="background: white">
      <div class="row">
        <div class="col-md-7 p-2">
          <hr align="center" color="red" size="5px" width="100%"/>
          <div><h3 class="text-primary">THÔNG TIN THANH TOÁN</h3></div>
          <form (ngSubmit)="paymentForm.valid && clickToPay()" [formGroup]="paymentForm" name="form">
            <div class="form-group">
              <div class="form-row">
                <div class="col">
                  <label class="text-info">Tên (*)</label>
                  <input class="form-control" formControlName="name" placeholder="Tên" type="text">
                  <div *ngIf="paymentForm.get('name').invalid && paymentForm.get('name').touched" class="alert-danger"
                       style="color: red">
                    Name must be at least 1 characters
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="form-row">
                <div class="col">
                  <label class="text-info">Địa chỉ giao hàng (*)</label>
                  <input class="form-control" formControlName="address" placeholder="Địa chỉ nhận hàng" type="text">
                  <div *ngIf="paymentForm.get('address').invalid && paymentForm.get('address').touched"
                       class="alert-danger"
                       style="color: red">
                    Address must be at least 1 characters
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="form-row">
                <div class="col">
                  <label class="text-info">Số điện thoại (*)</label>
                  <input class="form-control" formControlName="phone" placeholder="Số điện thoại" type="text">
                  <div *ngIf="paymentForm.get('phone').invalid && paymentForm.get('phone').touched" class="alert-danger"
                       style="color: red">
                    Phone must be at least 1 characters
                  </div>
                </div>
                <div class="col">
                  <label class="text-info">Email</label>
                  <input class="form-control" formControlName="email" placeholder="Email" type="text">
                  <div *ngIf="paymentForm.get('email').invalid && paymentForm.get('email').touched" class="alert-danger"
                       style="color: red">
                    Email must be at least 1 characters
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="form-row">
                  <div class="col">
                    <label class="text-info mt-3">Tổng hóa đơn:</label>
                    <input [ngModel]="(cart| async).grossTotal | currency: 'VND'" class="form-control" disabled
                           formControlName="total"
                           type="text">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="form-row">
                  <div class="col">
                    <input [value]="payment.code" class="form-control" formControlName="code" type="hidden">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="form-row">
                  <div class="col">
                    <label class="text-info">Chọn phương thức thanh toán: </label>
                    <select class="ml-3" formControlName="method" style="width: 250px">
                      <option *ngFor="let methods of method">{{methods}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <br/>
            <hr align="center" color="red" size="5px" width="100%"/>

            <div><h3 class="text-primary">THÔNG TIN BỔ SUNG</h3></div>
            <div class="form-group">
              <div class="form-row">
                <div class="col">
                  <label class="text-info">Chi tiết thông tin</label>
                  <textarea class="form-control"
                            formControlName="description"
                            placeholder="Ghi chú về địa chỉ giao hàng, ví dụ: thời gian hãy chỉ dẫn địa điểm giao hàng chi tiết hơn"
                            style="height: 200px"></textarea>
                </div>
              </div>
            </div>
            <button class="btn btn-primary btn-block" data-target="#exampleModal1" data-toggle="modal">Đặt hàng</button>
            <input class="btn btn-primary btn-block" routerLink="/home" value="Quay lại">
          </form>

          <div aria-hidden="true" aria-labelledby="exampleModalLabel1" class="modal fade" id="exampleModal1"
               role="dialog"
               tabindex="-1">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel1">Đặt hàng thành công </h5>
                </div>
                <div class="modal-body">
                  Đặt hàng thành công
                  <div class="modal-body">
                    <label>Mã đơn hàng: </label>
                    <h5>{{' ' + payment.code}}</h5>
                  </div>
                  <div class="modal-body">
                    <label>Điện thoại: </label>
                    <h5>{{' ' + payment.phone}}</h5>
                  </div>
                  <div class="modal-body">
                    <label>Địa chỉ: </label>
                    <h5>{{' ' + payment.address}}</h5>
                  </div>
                  <div class="modal-body">
                    <label>Email: </label>
                    <h5>{{' ' + payment.email}}</h5>
                  </div>
                  <div class="modal-body">
                    <label>Thanh toán: </label>
                    <h5>{{' ' + payment.total | currency: 'VND'}}</h5>
                  </div>
                  <div class="modal-body">
                    <label> Phương thức thanh toán: </label>
                    <h5>{{' ' + payment.method}}</h5>
                  </div>
                </div>

                <div class="modal-footer">
                  <button class="btn btn-secondary" data-dismiss="modal" routerLink="/home" type="button">Đóng</button>
                  <button (click)="exportAsXLSX()" class="btn btn-secondary" data-dismiss="modal" type="button">Export
                    to
                    Excel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-5 p-2" style="margin-top: 15px">
          <div class="border border-danger ">
            <div><h3 CLASS="text-success text-center m-2">ĐƠN HÀNG CỦA BẠN</h3></div>
            <table class="table border-bottom">
              <tr>
                <td class="text-primary font-weight-bold text-center">Sản phẩm</td>
                <td class="text-primary font-weight-bold text-center">Giá</td>
                <td class="text-primary font-weight-bold text-center">Số lượng</td>
                <td class="text-primary font-weight-bold text-center">Tổng cộng</td>
              </tr>

              <tr *ngFor="let item of cartItems">
                <td class="text-primary ">{{item.product.name}}</td>
                <td class="text-center">{{item.product.price | currency: 'VND'}}</td>
                <td class="text-center">{{item.quantity}}</td>
                <td class="text-center">{{item.totalCost | currency: 'VND'}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid" style="background: rgba(255,242,229,0.68)">
  <div *ngIf="isLoggedIn">
    <div class="container" style="background: white">
      <div class="row">
        <div class="col-md-7 p-2">
          <hr align="center" color="red" size="5px" width="100%"/>
          <div><h3 class="text-primary">THÔNG TIN THANH TOÁN</h3></div>
          <form (ngSubmit)="paymentForm.valid && clickToPay()" [formGroup]="paymentForm" name="form">
            <div class="form-group">
              <div class="form-row">
                <div class="col">
                  <label class="text-info">Tên (*)</label>
                  <input class="form-control" formControlName="name" placeholder="Tên" type="text">
                  <div *ngIf="paymentForm.get('name').invalid && paymentForm.get('name').touched" class="alert-danger"
                       style="color: red">
                    Name must be at least 1 characters
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="form-row">
                <div class="col">
                  <label class="text-info">Địa chỉ giao hàng (*)</label>
                  <input class="form-control" formControlName="address" placeholder="Địa chỉ nhận hàng" type="text">
                  <div *ngIf="paymentForm.get('address').invalid && paymentForm.get('address').touched"
                       class="alert-danger"
                       style="color: red">
                    Address must be at least 1 characters
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="form-row">
                <div class="col">
                  <label class="text-info">Số điện thoại (*)</label>
                  <input class="form-control" formControlName="phone" placeholder="Số điện thoại" type="text">
                  <div *ngIf="paymentForm.get('phone').invalid && paymentForm.get('phone').touched" class="alert-danger"
                       style="color: red">
                    Phone must be at least 1 characters
                  </div>
                </div>
                <div class="col">
                  <label class="text-info">Email</label>
                  <input class="form-control" formControlName="email" placeholder="Email" type="text">
                  <div *ngIf="paymentForm.get('email').invalid && paymentForm.get('email').touched" class="alert-danger"
                       style="color: red">
                    Email must be at least 1 characters
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="form-row">
                  <div class="col">
                    <label class="text-info mt-3">Tổng hóa đơn:</label>
                    <input [ngModel]="(cart| async).grossTotal | currency: 'VND'" class="form-control" disabled
                           formControlName="total"
                           type="text">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="form-row">
                  <div class="col">
                    <input [value]="payment.code" class="form-control" formControlName="code" type="hidden">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="form-row">
                  <div class="col">
                    <label class="text-info">Chọn phương thức thanh toán: </label>
                    <select class="ml-3" formControlName="method" style="width: 250px">
                      <option *ngFor="let methods of method">{{methods}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <br/>
            <hr align="center" color="red" size="5px" width="100%"/>

            <div><h3 class="text-primary">THÔNG TIN BỔ SUNG</h3></div>
            <div class="form-group">
              <div class="form-row">
                <div class="col">
                  <label class="text-info">Chi tiết thông tin</label>
                  <textarea class="form-control"
                            formControlName="description"
                            placeholder="Ghi chú về địa chỉ giao hàng, ví dụ: thời gian hãy chỉ dẫn địa điểm giao hàng chi tiết hơn"
                            style="height: 200px"></textarea>
                </div>
              </div>
            </div>
            <button class="btn btn-primary btn-block" data-target="#exampleModal2" data-toggle="modal">Đặt hàng</button>
            <input class="btn btn-primary btn-block" routerLink="/home" value="Quay lại">
          </form>

          <div aria-hidden="true" aria-labelledby="exampleModalLabel2" class="modal fade" id="exampleModal2"
               role="dialog"
               tabindex="-1">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel2">Đặt hàng thành công </h5>
                </div>
                <div class="modal-body">
                  Đặt hàng thành công
                  <div class="modal-body">
                    <label>Mã đơn hàng: </label>
                    <h5>{{' ' + payment.code}}</h5>
                  </div>
                  <div class="modal-body">
                    <label>Điện thoại: </label>
                    <h5>{{' ' + payment.phone}}</h5>
                  </div>
                  <div class="modal-body">
                    <label>Địa chỉ: </label>
                    <h5>{{' ' + payment.address}}</h5>
                  </div>
                  <div class="modal-body">
                    <label>Email: </label>
                    <h5>{{' ' + payment.email}}</h5>
                  </div>
                  <div class="modal-body">
                    <label>Thanh toán: </label>
                    <h5>{{' ' + payment.total | currency: 'VND'}}</h5>
                  </div>
                  <div class="modal-body">
                    <label> Phương thức thanh toán: </label>
                    <h5>{{' ' + payment.method}}</h5>
                  </div>
                </div>

                <div class="modal-footer">
                  <button class="btn btn-secondary" data-dismiss="modal" routerLink="/home" type="button">Đóng</button>
                  <button (click)="exportAsXLSX()" class="btn btn-secondary" data-dismiss="modal" type="button">Export
                    to
                    Excel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-5 p-2" style="margin-top: 15px">
          <div class="border border-danger ">
            <div><h3 CLASS="text-success text-center m-2">ĐƠN HÀNG CỦA BẠN</h3></div>
            <table class="table border-bottom">
              <tr>
                <td class="text-primary font-weight-bold text-center">Sản phẩm</td>
                <td class="text-primary font-weight-bold text-center">Giá</td>
                <td class="text-primary font-weight-bold text-center">Số lượng</td>
                <td class="text-primary font-weight-bold text-center">Tổng cộng</td>
              </tr>

              <tr *ngFor="let item of cartItems">
                <td class="text-primary ">{{item.product.name}}</td>
                <td class="text-center">{{item.product.price | currency: 'VND'}}</td>
                <td class="text-center">{{item.quantity}}</td>
                <td class="text-center">{{item.totalCost | currency: 'VND'}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
