<div class="sticky-top navbar navbar-light bg-light navbar-static-top navbar-expand-md">
  <div class="container-fluid">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">☰</button>
    <a class="navbar-brand" href="http://localhost:4200/home">
      <img src="../../assets/images/logo.jpg" height="28">
    </a>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="nav-item"><a href="http://localhost:4200/home" class="nav-link">Home</a>
        </li>
        <p class="stick">|</p>
        <!--<li class="dropdown menu-large nav-item"> <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"> Product Listing </a>
          <ul class="dropdown-menu megamenu">
            <li class="dropdown-item">
              <div class="row">
                <div class="col-md-6 col-lg-3 text-center">
                  <div class="card">
                    <a href="#" class="thumbnail">
                      <img src="http://placehold.it/150x120">
                    </a>
                  </div></div>
                <div class="col-md-6 col-lg-3 text-center">
                  <div class="card">
                    <a href="#" class="thumbnail">
                      <img src="http://placehold.it/150x120">
                    </a>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 text-center">
                  <div class="card">
                    <a href="#" class="thumbnail">
                      <img src="http://placehold.it/150x120">
                    </a>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 text-center">
                  <div class="card">
                    <a href="#" class="thumbnail">
                      <img src="http://placehold.it/150x120">
                    </a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>-->
        <li class="dropdown menu-large nav-item"> <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Categories </a>
          <ul class="dropdown-menu megamenu">
            <div class="row" style="align-content: center">
              <li class="col-md-3 dropdown-item" >
                <ul>
                  <li class="dropdown-header">Cà Phê</li>
                  <li><a href="#">Cà phê nguyên chất</a>
                  </li>
                  <li class="disabled"><a href="#">Cà phê sữa</a>
                  </li>
                  <li><a href="#">Bạc xỉu</a>
                  </li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Trà</li>
                  <li><a href="#">Trà Sen Vàng</a>
                  </li>
                  <li><a href="#">Trà thái nguyên</a>
                  </li>
                  <li><a href="#">Trà lipton</a>
                  </li>
                  <li><a href="#">Nước vối</a>
                  </li>
                </ul>
              </li>
              <li class="col-md-3 dropdown-item">
                <ul>
                  <li class="dropdown-header">Bánh mì</li>
                  <li><a href="#">Thịt nướng</a>
                  </li>
                  <li><a href="#">Xá xíu</a>
                  </li>
                  <li><a href="#">xúc xích</a>
                  </li>
                  <li><a href="#">Trứng</a>
                  </li>
                  <li><a href="#">Ngải cứu</a>
                  </li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Khác</li>
                  <li><a href="#">ádasdsadsda</a>
                  </li>
                </ul>
              </li>
              <li class="col-md-3 dropdown-item">
                <ul>
                  <li class="dropdown-header">tiêu xào xả ớt</li>
                  <li><a href="#">bảo béo</a>
                  </li>
                  <li><a href="#">đức ngô</a>
                  </li>
                </ul>
              </li>
              <li class="col-md-3 dropdown-item">
                <a class="navbar" href="/">
                  <img src="../../../../assets/images/1234.jpg" width="300px" height="300px"/></a>
              </li>
            </div>
          </ul>
        </li>
        <p class="stick">|</p>
        <li class="nav-item"><a href="#" class="nav-link">Blog</a></li>
        <p class="stick">|</p>
        <li class="nav-item"><a href="#" class="nav-link">About Us</a></li>
      </ul>
      <form action="" class="ml-auto">
        <ul class="nav navbar-nav">
          <li class="nav-item row">
            <input type="text" class="search" id="search">
            <a href="#search" class="nav-link"><i class="fa fa-search"></i></a>
          </li>
          <p class="stick">|</p>
          <li class="nav-item">
            <a href="#" class="nav-link"><i class="fa fa-shopping-cart" ></i></a>
          </li>
          <p class="stick">|</p>
          <li class="nav-item ml-auto"><a href="#" class="nav-link">My Account</a></li>
        </ul>
      </form>

    </div>
  </div>
</div>
