<h2>Xóa người dùng</h2>
<div class="col-6 offset-3" *ngIf="user">
  <table class="table">
    <tr>
      <td>Username:</td>
      <td>{{user.username}}</td>
    </tr>

    <tr>
      <td>Email:</td>
      <td>{{user.email}}</td>
    </tr>

    <tr>
      <td>Điện thoại:</td>
      <td>{{user.phone}}</td>
    </tr>

    <tr>
      <td>Địa chỉ:</td>
      <td>{{user.address}}</td>
    </tr>
  </table>
  <input class="btn btn-primary btn-block" data-target="#exampleModal" data-toggle="modal" value="Xóa">
  <input class="btn btn-primary btn-block" routerLink="/user-list" value="Quay lại">

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Little Bean</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">X</span>
          </button>
        </div>
        <div class="modal-body">
          Bạn có chắc chắn muốn xóa ?
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-dismiss="modal" type="button">Không</button>
          <button (click)="deleteUser(user.id)" class="btn btn-primary" data-dismiss="modal" type="button">Có</button>
        </div>
      </div>
    </div>
  </div>
</div>
