<div class="container-fluid ">
  <div class="row p-3">


    <div class="col-md-4" *ngIf="product">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active ml-5 mt-2">
            <img [src]="product.image" style="height: 444px" alt="First slide">
          </div>
          <div class="carousel-item ml-5 mt-2">
            <img [src]="product.image2" style="height: 444px" alt="Second slide">
          </div>
          <div class="carousel-item ml-5 mt-2">
            <img [src]="product.image3" style="height: 444px" alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <div class="col-md-4" style="margin-left: 30px">
      <h3 class="text-primary p-2 m-2">{{product.name}}</h3>
      <hr width="100%" size="5px" align="left" class="text-primary"/>
      <h5 class="text-danger">{{product.price | currency: 'VND'}}</h5>
      <h6 class="text-primary">Đặc tính:</h6>
      <span class="text-secondary">{{product.description}}</span>
      <br/><br/>
      <h6>
        Giỏ hàng của bạn đang có
        <mark class="text-danger">{{itemCount}} sản phẩm</mark>
        <!--        <span class="text-danger">{{(cart | async).grossTotal | currency:'VND':true}}</span>-->
      </h6>

      <p>
        <button type="button"
                class="btn btn-outline-primary "
                (click)="addProductToCart(product, 1)">Thêm sản phẩm này
        </button>
<!--        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal">
          Comment
        </button>-->
        <button type="button"
                class="btn btn-outline-danger ml-2"
                *ngIf="productInCart(product) | async"
                (click)="removeProductFromCart(product, 1)">Xóa sản phẩm này
        </button>
        <button type="button" class="btn btn-outline-info ml-2" *ngIf="productInCart(product) | async"
                routerLink="/checkout">
          Giỏ hàng
        </button>
      </p>
      <hr width="100%" size="5px" align="center" class="text-primary"/>
      <h6>Hãy ghé thăm fanpage của chúng tôi ở đây bạn nhé!</h6>
      <span><a class="text-primary m-3" href="http://www.facebook.com/nguyenkhacgia.bao" target="_blank"><i
        class="fa fa-facebook-square fa-3x"></i></a></span>
      <span><a class="text-info m-3" href="https://twitter.com/TheCoffeeBean" target="_blank"><i
        class="fa fa-twitter-square  fa-3x"></i></a></span>
      <span><a class="text-primary m-3"><i class="fa fa-envelope-square fa-3x" target="_blank"></i></a></span>
      <span><a class="text-danger m-3" href="https://www.coffeebean.com/" target="_blank"><i
        class="fa fa-google-plus-square fa-3x"></i></a></span>
    </div>

    <div class="col-md-3 m-2 p-2">
      <div class="text-body align-text-bottom">
        <h4 align="center" class="text-primary mb-2">SẢN PHẨM LIÊN QUAN</h4>
        <div *ngFor="let p of products | async">
          <div class="row mb-3 mt-3">
            <div class="col-md-3 ">
              <img [src]="p.image" style="height: 125px" routerLink="/product-detail/{{p.id}}">
            </div>

            <div class="col-md-7 ml-3">
              <h5 class="text-info" routerLink="/product-detail/{{p.id}}">{{p.name}}</h5>
              <h6 class="text-danger">{{p.price | currency: 'VND'}}</h6>
            </div>

          </div>
        </div>
      </div>


    </div>
  </div>
</div>
<!------------ Single Comment ------------->
<div class="container">
  <h4>Comment</h4>
  <div class="media mb-4" *ngFor="let comment of listCommenter , index as i" >
    <div class="media-body">
      <div *ngIf="iEdit ; else other4">
        <label class="text-success text font-weight-bold">{{username}}<h6 class="text-secondary">{{comment.date}} (edited)</h6></label>
      </div>
      <ng-template #other4>
        <label class="text-success font-weight-bold font">{{username}}<h6 class="text-secondary">{{comment.date}}</h6></label>
      </ng-template>
      <p>
        <b>{{comment.content}}</b>
      </p>
      <div class="text-left" >
        <!--              edit/delete-->
        <a #closeModalRef class="btn btn-info a-btn-slide-text mr-2" data-toggle="collapse" [attr.data-target]="'#collapseExample' + i" aria-expanded="false">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          <span><strong>Edit</strong></span>
        </a>
        <a (click)="getIdComment1(comment.id)" class="btn btn-danger a-btn-slide-text"  data-toggle="modal" data-target="#exampleModalCenter">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          <span><strong>Delete</strong></span>
        </a>
        <div class="collapse" [id]="'collapseExample'+i" >
          <form>
            <div class="card card-body">
              <textarea contenteditable="true" [formControl]="contentUpdate" [value]="comment.content" rows="3"></textarea>
              <br/>
              <div class="text-right">
                <button class="btn btn-outline-secondary" (click)="closeForm1(closeModalRef)" >Close</button>&nbsp;&nbsp;
                <button class="btn btn-outline-primary" (click)="updateCommenter1(comment.id,closeModalRef)">Update</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>
<!-- /.row -->

<!-----------Comment modal-------------->
<div class="col-md-9 mt-3 mb-3">
  <div>
    <h4 class="ml-2 text-info"><strong><label for="comment">Comment something in here !</label></strong></h4>
    <div class="card-body">
      <form [formGroup]="formCommenterCreate">
        <div class="form-group">
          <textarea class="form-control border-primary" id="comment" formControlName="contentInput" rows="3"></textarea>
        </div>
        <div>
          <div *ngIf="this.tokenJWT ; else other" class="text-center text-justify">
            <button type="submit" (click)="createCommenter()" class="btn btn-outline-success col-md-2 offset-10">Comment</button>
          </div>
          <ng-template #other>
            <div class="text-center text-secondary">
              <h6>You need login before can be comment. <a  [routerLink]="'/login'">Login!</a></h6>
            </div>
          </ng-template>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Comment in here</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formCommenterCreate">
          <div *ngIf="this.tokenJWT" class="form-group">
            <textarea class="form-control" formControlName="contentInput" rows="3"></textarea>
          </div>
          <div>
            <ng-template #other>
              <div class="text-center text-secondary">
                <h6>You need login before can be comment. <a  [routerLink]="'/login'"  data-dismiss="modal">Login!</a></h6>
              </div>
            </ng-template>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button #closeModalRef2 type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <div *ngIf="this.tokenJWT ; else other" class="text-center text-justify">
          <button type="submit" (click)="createCommenter()" class="btn btn-outline-success" data-dismiss="modal">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!------------Modal------------>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="exampleModalCenterTitle">Delete Comment!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-dark text-center">
        <h5>Are you sure ?</h5>
      </div>
      <div class="modal-footer">
        <button #closeModalRef2 type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" (click)="deleteComment1(closeModalRef2)">Accept</button>
      </div>
    </div>
  </div>
</div>

