<div class="col-6 offset-3">
  <h2 class="text-center">Cập nhật sản phẩm</h2>
  <div *ngIf="message">
    <div class="alert alert-success">
      <strong>Success!</strong> You have edited a product
    </div>
    <div>
      <div class="form-group">
        <input (click)="message = !message" class="btn btn-primary btn-block" value="Tạo mới sản phẩm">
      </div>
      <div class="form-group">
        <input class="btn btn-primary btn-block" routerLink="/product-list" value="QUay lại">
      </div>
    </div>
  </div>
  <form
    *ngIf="!message"
    name="form"
    [formGroup]="productForm"
    (ngSubmit)="productForm.valid && onSubmit()"
    novalidate
  >
    <div class="form-group">
      <label>Tên sản phẩm</label>
      <input type="text" class="form-control" formControlName="name"/>
      <div class="alert-danger" *ngIf="productForm.get('name').invalid && productForm.get('name').touched"
           style="color: red">
        Tối thiểu 3 ký tự
      </div>
    </div>
    <div class="form-group">
      <label>Giá</label>
      <input type="number" class="form-control" formControlName="price"/>
      <div class="alert-danger" *ngIf="productForm.get('price').invalid && productForm.get('price').touched"
           style="color: red">
        Không được để trống
      </div>
    </div>
    <div class="form-group">
      <label>Mô tả</label>
      <textarea class="form-control h-auto" formControlName="description"></textarea>
      <div class="alert-danger" *ngIf="productForm.get('description').invalid && productForm.get('description').touched"
           style="color: red">
        Không được để trống
      </div>
    </div>
    <div class="form-group">
      <label>Hình ảnh 1</label>
      <input type="text" class="form-control" formControlName="image"/>
      <div class="alert-danger" *ngIf="productForm.get('image').invalid && productForm.get('image').touched"
           style="color: red">
        Không được để trống
      </div>
    </div>

    <div class="form-group">
      <label>Hình ảnh 2</label>
      <input type="text" class="form-control" formControlName="image2"/>
      <div class="alert-danger" *ngIf="productForm.get('image2').invalid && productForm.get('image2').touched"
           style="color: red">
        Không được để trống
      </div>
    </div>

    <div class="form-group">
      <label>Hình ảnh 3</label>
      <input type="text" class="form-control" formControlName="image3"/>
      <div class="alert-danger" *ngIf="productForm.get('image3').invalid && productForm.get('image3').touched"
           style="color: red">
        Không được để trống
      </div>
    </div>

    <div class="form-group">
      <label>Khuyến mãi</label>
      <div *ngFor="let promotion1 of promotion">
        <p>{{promotion1.name}}</p>
      </div>
      <select class="form-control" (change)="addPromotion(addPromo.value)" #addPromo>
        <option value="null">None</option>
        <option *ngFor="let a of promotionList" value="{{a.id}}">{{a.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Danh mục</label>
      <select class="form-control" (change)="addCategories(addCa.value)" #addCa>
        <option value="">None</option>
        <option *ngFor="let c of categoriesList" value="{{c.id}}">{{c.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <button class="btn btn-primary btn-block">Cập nhật</button>
    </div>
    <div class="form-group">
      <input class="btn btn-primary btn-block" routerLink="/product-list" value="Quay lại">
    </div>
  </form>
</div>
